<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h1>User #<%=userId%></h1>

<p>Name: <%=user.name%></p>
<p>Email: <%=user.email%></p>
<p>City: <%=user.city%></p>
<p>Company: <%=user.company%></p>


</body>
</html>