<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
</head>
<body>

<h1>List of Users</h1>


<% var i;
for(i=0; i<users.length; i++){ %>
    <h2>User #<%=i+1%></h2>
    <p>Name: <%=users[i].name%></p>
    <p>Email: <%=users[i].email%></p>
    <p>City: <%=users[i].city%></p>
    <p>Company: <%=users[i].company%></p>
    <%}
%>


</body>
</html>